
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logopdf {
  width: 130px;
}
.formRow {
  margin: 0;
  padding: 10px 50px 10px 50px;
}
.card:hover{
  border-color: black;
}
.formRow1 {
  margin: 0;
  padding: 10px 100px 10px 100px;
}
.navfootpad {
  margin-top: 90px;
  margin-bottom: 30px;
}
.lanleft {
  height: 100vh;
  text-align: center;
  /* background-image: linear-gradient(to bottom right, #042974, #042974); */
  background-image: linear-gradient(to bottom right, #023d77, #023d77);
}
.logodiv {
  padding-top: 120px;
}
.titlename {
  padding: 3% 3% 0 3%;
  font-size: 35px;
  font-weight: bolder;
  color: white;
}
.aidedmain {
  z-index: 3;
  color: wheat;
  font-size: 15px;
  font-weight: normal;
}
.collegeName {
  color: wheat;
  font-size: 20px;
}
.titlenameNav {
  padding-top: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 100px;
  z-index: 3;
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

.collegeNameNav {
  padding-left: 27px;
  padding-top: 2px;
  padding-right: 20px;
  margin-left: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 3;
  color: wheat;
  font-size: 15px;
  font-weight: bolder;
}

.aided {
  padding-left: 45px;
  padding-right: 35px;
  padding-top: 1px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  margin-left: 40px;
  z-index: 3;
  color: wheat;
  font-size: 13px;
  font-weight: normal;
}
.imgc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.lanright {
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.iconn:hover{
  transform: scale(1.2);
}
.loginText {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 180px;
  padding-bottom: 30px;
  font-size: 35px;
  /* font-size: max(7vh, 30px); */
  font-weight: bolder;
  color: #023d77;
}
.email,
.password {
  border: solid 1.2px #c9ccd5;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
  /* font-size: max(2.2vh, 1.8vw); */
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  width: 300px;
  box-shadow: transparent;
  outline: none;
}
.email:focus,
.password:focus {
  border: 1.2px solid #023d77;
  box-shadow: 0 0 10px #719ece;
}
.lanButton {
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  font-size: 18px;
  border: none;
  background-color: #023d77;
  color: white;
  font-weight: bolder;
  border-radius: 7px;
}
.lanButton:hover {
  box-shadow: 0 0 10px #5258c2;
}
.navcontainer {
  z-index: 1000;
  position: fixed;
  top: 0;
}

.navbarleft {
  padding: 0;
  margin: 0;
  z-index: 3;
  background-color: #023d77;
  text-align: right;
  height: 85px;
  z-index: 100000;
}
.navbarright {
  padding: 0;
  margin: 0;
  z-index: 3;
  height: 85px;
  background-color: #023d77;
  text-align: left;
  z-index: 100000;
}

.menu-bars {
  position: absolute;
  left: 20px;
  margin: 10px;
  font-size: 25px;
  background: transparent;
}
.menu-bars:hover {
  transform: scale(1.2);
}
.nav-menu {
  background-image: linear-gradient(to bottom, #023d77, #023d77, #023d77);
  width: 220px;
  padding-top: 90px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 100;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 40px 8px 8px 16px;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 4px;
}
.nav-text a:hover {
  font-size: 20px;
  color: white;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 15px;
  border-radius: 4px;
}
.nav-menu-items {
  width: 100%;
}
.qr-slider {
  margin: 3vh 5vw;
}
.Qr {
  background-color: white;
  text-align: center;
  z-index: 0;
}
.qr-code {
  text-align: center;
  margin: 2%;
  height: 200px;
}
.sizeText {
  margin: 3vh 5vw;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.scaletext {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
}
.Qr-title {
  margin: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.qr-bottom {
  margin-top: 40%;
  text-align: center;
}
.battery__sad {
  text-align: center;
}
.battery__sad .face {
  border-color: #023d77 transparent transparent transparent;
  border-radius: 50%;
  height: 60px;
  animation: anim-sad 5s infinite;
}
.battery__sad .face:before,
.battery__sad .face:after {
  animation-delay: 1.3s;
  background-color: #023d77;
}
.face {
  z-index: 1;
  margin: 100px auto 0px auto;
  width: 60px;
  border-style: solid;
  border-width: 8px;
  position: relative;
}
.face:before,
.face:after {
  top: -35px;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: blink 10s infinite;
}
.face:before {
  right: 0px;
}
.face:after {
  left: 0px;
}

@keyframes blink {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1, 1);
  }
  11% {
    transform: scale(1, 0.1);
  }
  12% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1, 1);
  }
  31% {
    transform: scale(1, 0.1);
  }
  32% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1, 1);
  }
  61% {
    transform: scale(1, 0.1);
  }
  62% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes anim-sad {
  0% {
    transform: rotateZ(0deg);
  }
  49% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(-10deg);
  }
  90% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: translateX(0deg);
  }
}

.opps {
  margin: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #023d77;
}
.NotFoundPage {
  padding-top: 200px;
}
.adminuse {
  margin: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
hr.hrline {
  border: 1px solid #023d77;
  background-color: #023d77;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #023d77;
  z-index: 10000;
}
.footercontent {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
  font-weight: lighter;
}
.cntr{
  width: 100 ;
    height: 100px;
    align-content: center;
    align-items: center;
    
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
.simplebtn {
  outline: none;
  align-items: center;
  /* margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px; */
  width: 120px;
  height: 36px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  font-size: 18px;
  border: none;
  background-color: #023d77;
  color: white;
  font-weight: bolder;
  border-radius: 7px;
}
.simplebtn:hover {
  box-shadow: 0 0 10px #5258c2;
}

@media only screen and (max-device-width: 600px) {
  .navbarleft {
    text-align: center;
  }
  .navbarright {
    text-align: center;
  }
  .collegeNameNav {
    margin-left: 0;
  }
  .titlenameNav {
    margin-left: 0;
  }
  .aided {
    margin-left: 0;
  }
  .navfootpad {
    margin-top: 170px;
    margin-bottom: 30px;
  }
  .email,
  .password {
    width: 60%;
  }
  .nav-menu {
    padding-top: 170px;
  }

  
}
